In [1]:
import spacy
from spacy import displacy

In [62]:
nlp=spacy.load('en_core_web_sm')

In [63]:
nlp

In [3]:
#text="This is one text. this is another text and this is other text"
#doc=nlp(text)

In [4]:
#doc

This is one text. this is another text and this is other text

In [5]:
#for token in doc:
    #print(token)

This
is
one
text
.
this
is
another
text
and
this
is
other
text

In [6]:
from spacy.lang.en.stop_words import STOP_WORDS

In [7]:
stopwords=list(STOP_WORDS)
print(stopwords)

['been', 'whither', 'while', 'up', 'now', 'already', 'an', 'might', 'being', 'where', 'as', 'there', 'get', "n't", 'moreover', 'my', 'whereby', 'two', 'own', 'seem', 'not', 'how', "'ll", 'his', 'out', 'must', 'just', 'each', 'put', 'and', 'eleven', 'off', 'fifty', 'seemed', 'twelve', 'hundred', 'done', 'former', 'everything', 'herein', 'meanwhile', 'per', 'else', 'across', 'upon', '’s', 'regarding', 'one', 'for', 'move', 'please', 'somehow', 'forty', 'keep', 'whatever', 'further', 'yourself', '’m', 'thru', 'ca', 'few', 'never', 'become', 'onto', 'towards', 'four', 'him', 'always', 'whence', 'seeming', 'other', 'wherever', 'whoever', 'make', 'all', 'whole', 'toward', 'what', 'mostly', 'anyone', 'wherein', 'both', 'made', 'serious', 'ours', 'full', 'part', 'below', 'besides', 'third', 'indeed', 'more', 'any', 'was', 'these', 'sometimes', 'afterwards', 'its', 'anything', '’ve', 'although', 'may', 'same', 'last', 'to', 'beforehand', 'using', 'are', 'alone', "'m", 'has', 'somewhere', 'also', 'bottom', 'name', 'mine', 'hers', 'though', '’re', 'less', 'nowhere', 'whereupon', 'something', 'whereas', 'well', 'ten', 'only', 'unless', 'back', 'us', 'herself', 'amount', 'least', 'again', 'if', 'hereupon', 'go', 'he', 'nevertheless', 'via', 'latter', 'which', 'by', 'along', 'five', 'hereby', 'down', 'under', 'amongst', 'or', 'since', 'myself', 'anyway', 'thence', 'throughout', 'too', 'she', 'among', 'next', 'on', 'between', '’ll', 'had', 'together', 'himself', 'be', 'no', '‘ll', 'do', 'should', 'this', 'of', 'can', 'n‘t', 'ourselves', 'through', 'beyond', 'thereafter', 'every', 'nine', 'twenty', 'anyhow', 'give', 'front', 'enough', 'except', 'used', 'whenever', 'side', 'you', "'ve", 'otherwise', 'into', 'latterly', '‘m', 'would', "'d", '’d', '‘ve', 'within', 'noone', 'it', 'such', 'a', 'beside', 'have', 'others', 'in', 'is', 'another', 'those', 'until', '‘d', 'due', 'yet', 'anywhere', 'me', 'perhaps', 'why', 'nothing', 'yourselves', 'whose', 'behind', 'some', 'take', 'could', 'will', 'during', 'none', '‘re', 'empty', 'show', 'did', 'cannot', 're', 'everywhere', 'them', 'someone', 'six', 'sixty', 'elsewhere', 'after', 'am', 'yours', 'even', "'re", 'n’t', 'over', 'then', 'the', 'nobody', 'several', 'therein', 'their', 'whom', 'ever', 'so', 'whether', 'namely', 'three', 'your', "'s", 'when', 'above', 'seems', 'about', 'becomes', 'than', 'here', 'top', 'that', 'themselves', 'first', 'either', 'we', 'much', 'itself', 'thereby', 'almost', 'thereupon', 'does', 'neither', 'say', 'without', 'see', 'they', 'before', 'fifteen', 'quite', 'often', 'at', 'whereafter', 'eight', 'her', 'many', 'against', 'nor', 'who', 'still', 'most', 'rather', 'however', 'doing', 'hereafter', 'various', 'formerly', 'therefore', 'were', 'sometime', 'from', 'but', 'with', 'hence', 'very', 'our', 'i', 'becoming', 'because', 'really', 'became', 'thus', '‘s', 'call', 'around', 'once', 'everyone']

In [73]:
# ML Packages
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix
from sklearn.svm import LinearSVC

# Importing and Exploring Data

In [9]:
import pandas as pd

In [10]:
data_yelp=pd.read_csv("C:\\Users\\USER\\OneDrive\\Documents\\excel\yelp_labelled.txt",sep='\t',header=None)
data_yelp

                                                     0  1
0                             Wow... Loved this place.  1
1                                   Crust is not good.  0
2            Not tasty and the texture was just nasty.  0
3    Stopped by during the late May bank holiday of...  1
4    The selection on the menu was great and so wer...  1
..                                                 ... ..
995  I think food should have flavor and texture an...  0
996                           Appetite instantly gone.  0
997  Overall I was not impressed and would not go b...  0
998  The whole experience was underwhelming, and I ...  0
999  Then, as if I hadn't wasted enough of my life ...  0

[1000 rows x 2 columns]

In [11]:
columns_name=['Review','Sentiment']
data_yelp.columns=columns_name
data_yelp.head()

                                              Review  Sentiment
0                           Wow... Loved this place.          1
1                                 Crust is not good.          0
2          Not tasty and the texture was just nasty.          0
3  Stopped by during the late May bank holiday of...          1
4  The selection on the menu was great and so wer...          1

In [12]:
data_yelp.shape

(1000, 2)

In [13]:
data_imdb=pd.read_csv("C:\\Users\\USER\\OneDrive\\Documents\\excel\imdb_labelled.txt",sep='\t',header=None)
data_imdb

                                                     0  1
0    A very, very, very slow-moving, aimless movie ...  0
1    Not sure who was more lost - the flat characte...  0
2    Attempting artiness with black & white and cle...  0
3         Very little music or anything to speak of.    0
4    The best scene in the movie was when Gerardo i...  1
..                                                 ... ..
743  I just got bored watching Jessice Lange take h...  0
744  Unfortunately, any virtue in this film's produ...  0
745                   In a word, it is embarrassing.    0
746                               Exceptionally bad!    0
747  All in all its an insult to one's intelligence...  0

[748 rows x 2 columns]

In [14]:
data_imdb.columns=columns_name
data_imdb.head()

                                              Review  Sentiment
0  A very, very, very slow-moving, aimless movie ...          0
1  Not sure who was more lost - the flat characte...          0
2  Attempting artiness with black & white and cle...          0
3       Very little music or anything to speak of.            0
4  The best scene in the movie was when Gerardo i...          1

In [15]:
data_imdb.shape

(748, 2)

In [16]:
data_amazon=pd.read_csv("C:\\Users\\USER\\OneDrive\\Documents\\excel\\amazon_cells.txt",sep='\t',header=None)
data_amazon

                                                     0  1
0    So there is no way for me to plug it in here i...  0
1                          Good case, Excellent value.  1
2                               Great for the jawbone.  1
3    Tied to charger for conversations lasting more...  0
4                                    The mic is great.  1
..                                                 ... ..
995  The screen does get smudged easily because it ...  0
996  What a piece of junk.. I lose more calls on th...  0
997                       Item Does Not Match Picture.  0
998  The only thing that disappoint me is the infra...  0
999  You can not answer calls with the unit, never ...  0

[1000 rows x 2 columns]

In [17]:
data_amazon.columns=columns_name
data_amazon.head()

                                              Review  Sentiment
0  So there is no way for me to plug it in here i...          0
1                        Good case, Excellent value.          1
2                             Great for the jawbone.          1
3  Tied to charger for conversations lasting more...          0
4                                  The mic is great.          1

In [18]:
data_amazon.shape

(1000, 2)

In [19]:
data=data_yelp.append([data_amazon,data_imdb],ignore_index=True)
data.shape

(2748, 2)

In [20]:
data.head()

                                              Review  Sentiment
0                           Wow... Loved this place.          1
1                                 Crust is not good.          0
2          Not tasty and the texture was just nasty.          0
3  Stopped by during the late May bank holiday of...          1
4  The selection on the menu was great and so wer...          1

In [21]:
data['Sentiment'].value_counts()

1    1386
0    1362
Name: Sentiment, dtype: int64

In [22]:
data.isnull().sum()

Review       0
Sentiment    0
dtype: int64

In [23]:
data.isna()

      Review  Sentiment
0      False      False
1      False      False
2      False      False
3      False      False
4      False      False
...      ...        ...
2743   False      False
2744   False      False
2745   False      False
2746   False      False
2747   False      False

[2748 rows x 2 columns]

# Tokenization

In [24]:
import string

In [25]:
punct=string.punctuation
punct

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [28]:
def text_data_cleaning(sentence):
    doc=nlp(sentence)
    
    tokens=[]
    for token in doc:
        if token.lemma_ !="-PRON-":
            temp=token.lemma_.lower().strip()
        else:
            temp=token.lower_
        tokens.append(temp)
    cleaned_tokens=[]
    for token in tokens:
        if token not in stopwords and token not in punct:
            cleaned_tokens.append(token)
    return cleaned_tokens

In [34]:
text_data_cleaning("hello how are you where do you live?")

['hello', 'live']

# vectorization Feature Engineering(TF-IDF)

In [37]:
from sklearn.svm import LinearSVC
tfidf=TfidfVectorizer(tokenizer=text_data_cleaning)
classifier=LinearSVC()

In [41]:
x=data['Review']
y=data['Sentiment']

In [49]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=51)
x_train.shape

(2198,)

In [50]:
x_test.shape

(550,)

In [51]:
x_train

621                                 Very disappointing!!!
239     Everyone is very attentive, providing excellen...
2256       I wasn't expecting Oscar material, but this?
1901                               Terrible phone holder.
1558    Virgin Wireless rocks and so does this cheap l...
                              ...
2576    Also the music by Mark Snow is possibly the be...
1733    Arrived quickly and much less expensive than o...
1760                                Would not reccommend.
485     This isn't a small family restaurant, this is ...
2105    This is a bad film, with bad writing, and good...
Name: Review, Length: 2198, dtype: object

In [54]:
clf=Pipeline([('tfidf',tfidf), ('clf',classifier)])
clf.fit(x_train,y_train)

Pipeline(steps=[('tfidf',
                 TfidfVectorizer(tokenizer=<function text_data_cleaning at 0x000001593012EAF8>)),
                ('clf', LinearSVC())])

In [55]:
y_pred=clf.predict(x_test)

In [56]:
y_pred

array([0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1,
       0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0,
       0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1,
       0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0,
       0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0,
       0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0,
       0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0,
       0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1,
       1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1,
       0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0],
      dtype=int64)

In [57]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.78      0.78      0.78       278
           1       0.78      0.78      0.78       272

    accuracy                           0.78       550
   macro avg       0.78      0.78      0.78       550
weighted avg       0.78      0.78      0.78       550

In [58]:
confusion_matrix(y_test,y_pred)

array([[218,  60],
       [ 60, 212]], dtype=int64)

In [59]:
clf.predict(['wow this is amazing food'])

array([1], dtype=int64)

In [60]:
clf.predict(['this food is the worst'])

array([0], dtype=int64)

In [61]:
clf.predict(['wow this this pretty bad'])

array([0], dtype=int64)

In [72]:
clf.predict(['war should not happen'])

array([0], dtype=int64)